<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FanexBotClient:BotServiceUrl" value="https://bot.nexdev.net:6969/skynex/api" />
    <add key="FanexBotClient:ClientId" value="1" />
    <add key="FanexBotClient:ClientPassword" value="Bult8TMrOurQs1JtkvbvCBjJypuSmNO8" />
  </appSettings>
</configuration>