<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="BotSettings" type="Fanex.Bot.Client.Models.BotSettings, Fanex.Bot.Client" />
  </configSections>
  <BotSettings
    BotServiceUrl="https://bot.nexdev.net:6969/skynex/api"
    ClientId="74cab44c-d551-42a7-9bbe-4d460d320516"
    ClientPassword="qevQN7959^^iaiuNCZUR2@@"
    TokenUrl="https://login.microsoftonline.com/botframework.com/oauth2/v2.0/token">
  </BotSettings>
</configuration>