<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="FanexBotClient:BotServiceUrl" value="https://bot.nexdev.net:6969/skynex/api" />
    <add key="FanexBotClient:ClientId" value="74cab44c-d551-42a7-9bbe-4d460d320516" />
    <add key="FanexBotClient:ClientPassword" value="qevQN7959^^iaiuNCZUR2@@" />
    <add key="FanexBotClient:TokenUrl" value="https://login.microsoftonline.com/botframework.com/oauth2/v2.0/token" />
  </appSettings>
</configuration>